body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #000000;
    color: #d8d8d8;
    text-align: center;
}

article a {
    color: #80cafc;
}

article div {
    color: #d8d8d8;
    border-color: #fff019;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    padding: 1rem;
    width: fit-content;
    margin: auto;
}

#banner {
    text-align: center;
}

#banner h1 {
    text-align: center;
}

#banner a {
    color: #80cafc;
}

#active {
    color: #5eff00;
    font-style: normal
}

#inactive {
    color: #ff9900;
    font-style: normal
}

#abandoned {
    color: #ff3300;
    font-style: normal
}

#programming_language {
    color: #ff00ff;
    font-style: normal
}