* {
  text-align: center;
  background-color: #202020;
  color:#e9e9e9;
}

p {
  justify-content: center;
  align-items: center;
  margin: auto;
}

#armourhud {
  border-color: #c9b590;
  border-style: solid;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}

#potatoclient {
  border-color: #b6df90;
  border-style: solid;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}

#macutils {
  border-color: #90dfd9;
  border-style: solid;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}